<div class="border border-dark container jumbotron my-3"style="width:700px; height:600px" >
  <div class="row  justify-content-md-center">
     <div class="col-sm-4">
        <div class="form-group">
           <label for="exampleFormControlInput1">Team1</label>
           <input type="text" class="form-control " id="Team1" placeholder="Team1" [(ngModel)]="team1Name">
        </div>
        <div class="form-group">
           <label for="exampleFormControlInput1">Team2</label>
           <input type="text" class="form-control " id="Team2" placeholder="Team2" [(ngModel)]="team2Name">
        </div>
        <div class="form-group">
           <label for="exampleFormControlSelect1">Toss</label>
           <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="toss">
           <option>{{team1Name}}</option>
           <option>{{team2Name}}</option>
           </select>
        </div>
        <div class="form-group">
           <label for="exampleFormControlSelect1">Decision</label>
           <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="decision">
           <option [value]="1">Batting</option>
           <option [value]="2">Balling</option>
           </select>
        </div>
        <div class="form-group">
           <label for="exampleFormControlInput1">Over</label>
           <input type="number" class="form-control " id="Over" placeholder="Over" [(ngModel)]="over">
        </div>
        <div class="row align-self-center">
           <div class="form-group col-sm-6">
              <button type="button" class="btn btn-danger float-right my-2 mx-4" (click)="clearSearch()">Clear</button>
           </div>
           <div class="form-group col-sm-6 ">
              <button  class="btn btn-primary float-right my-2" (click)=" defineTeams('value')">Define Teams</button>
           </div>
        </div>
     </div>
  </div>
</div>